<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']">Fosiles</a>
      <a mat-list-item [routerLink]="['/eones']">Eones</a>
      <a mat-list-item [routerLink]="['/eras']">Eras</a>
      <a mat-list-item [routerLink]="['/periodos']">Periodos</a>
      <a mat-list-item [routerLink]="['/epocas']">Epocas</a>
      <a mat-list-item [routerLink]="['/paises']">Paises</a>
      <a mat-list-item [routerLink]="['/estados']">Estados</a>
      <a mat-list-item [routerLink]="['/municipios']">Municipios</a>
      <a mat-list-item [routerLink]="['/usuarios']" *ngIf="isAdmin">Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fixed color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Fosil Lab</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
